/*Config. inicial responsiva para o Html*/
html, body {
    margin: 0;
    padding: 0;
    width: 100%;
}

/*Definiçôes para Body*/
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}

/* Menu*/
header {
    width: 100%;
    height: 100vh;
    background: url(../img/bg.jpg) no-repeat 50% 50%;
    background-size: cover;
}

.logo {
    line-height: 60px;
    position: fixed;
    float: left;
    margin: 16px 46px;
    color: #fff;
    font-weight: bold;
    font-size: 20px;
    letter-spacing: 2px;
}

.logo a {
    text-decoration: none;
    color: inherit;
}

nav {
    position: fixed;
    width: 100%;
    line-height: 60px;
}

nav ul {
    line-height: 60px;
    list-style: none;
    background: rgba(0, 0, 0, 0);
    overflow: hidden;
    color: #fff;
    padding: 0;
    text-align: right;
    margin: 0;
    padding-right: 40px;
    transition: 1s;
}

nav.verde ul {
    background: rgba(50, 205, 50, 0.7);
}

nav ul li {
    display: inline-block;
    padding: 16px 40px;;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    padding: 12px 30px;
    font-size: 16px;
    text-transform: uppercase;
}

nav ul li a:hover {
    background: rgba(220,220,220,0.7);
    color: #080101;
    border-radius: 6px;
    box-shadow: inset 0 0 0 3px;
}

nav ul li a.login {
    background: #e2472e;
    color: #fff;
    border-radius: 6px;
}

nav ul li a.login:hover {
    background: rgba(255, 69, 0, 0.9);
    color: #080101;
    box-shadow: inset 0 0 0 3px;
}

/*Corpo com texto e conteudo*/
.conteudo {
    width: 94%;
    margin: 4em auto;
    font-size: 20px;
    line-height: 30px;
    text-align: justify;
}

/* Icone do menu responsivo */
.menu-icon {
    line-height: 60px;
    width: 100%;
    background: rgba(50, 205, 50, 0.9);
    text-align: right;
    box-sizing: border-box;
    padding: 15px 24px;
    cursor: pointer;
    color: #fff;
    display: none;
    transition: all 400ms ease;
}

/* Responsivida css de configuração */
@media(max-width: 786px) {

    .logo {
          position: fixed;
          top: 0;
          margin-top: 16px;
    }

    nav ul {
          max-height: 0px;
          background: rgba(50, 205, 50, 0.8);
    }

    nav.verde ul {
        background: rgba(50, 205, 50, 0.8);
    }

    .showing {
          max-height: 34em;
    }

    nav ul li {
          box-sizing: border-box;
          width: 100%;
          padding: 24px;
          text-align: center;
    }

    .menu-icon {
          display: block;
    }

    .menu-icon:hover {
        color: #dd0d0d;
    }
}

@media only screen and (max-width: 1280px) and (min-width: 788px) {
    nav ul{
        padding-right: 10px;
    }

    nav ul li {
        padding: 16px 15px;
    }
    nav ul li a {
        padding: 12px 20px;
        font-size: 14px;
    }

    .logo {
        margin: 14px 30px;
    }
}